





AWSTemplateFormatVersion: 2010-09-09
Resources:

  TGWResourceShare:
    Type: "AWS::RAM::ResourceShare"
    Properties:
      Name: "Transit Gateway Resource Share"
      ResourceArns:
        - "arn:aws-cn:ec2:cn-northwest-1:251532073690:transit-gateway/tgw-0a373aa6daa274475"
      Principals: 
        - "arn:aws-cn:organizations::251381764102:organization/o-sspb5973qm"
      Tags:
        - Key: AWS Serverless Transit Network Orchestrator
          Value: !Ref 'AWS::StackId'